[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "1.4.1"
flask-migrate = "*"
flask-restful = "*"
pytest = "*"
sqlalchemy = "*"
flask-bcrypt = "1.0.1"
faker = "==15.3.2"
flask-marshmallow = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
flask-session = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
